body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: rgb(89, 146, 179) !important;
}

.header_div {
    background: rgb(35, 115, 139);
    color: whitesmoke;
}
.header_div p {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button {
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer {
    position: fixed;
    color: rgb(255, 255, 255);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: rgb(35, 115, 139);
    line-height: 3;
    text-align: left;
    text-shadow: 5px 5px 5px black ;
    padding-left: 10px;
}
